@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
}
:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

body{
    font-family: 'Muli', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}

.progress-container{
    display: flex;
    width: 20rem;
    max-width: 100%;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    position: relative;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    width: 30px;
    height: 30px;
    color: #999;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}
.btn{
    background-color: var(--line-border-fill);
    font-family: inherit;
    color: #fff;
    border: 0;
    font-size: 10px;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn:active{
    transform: scale(0.9);
}
.btn:focus{
    outline:0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}